<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin-panel/fragments/index}">

<head>
  <title>Structures</title>
</head>

<th:block layout:fragment="content">

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class=" col-md-auto pl-5 ml-5 text-right">
      <button type="button" class="btn btn-block btn-warning" data-toggle="modal" data-target="#add-product">
        <i class="fa-solid fa-plus pr-2"></i>
        Добавить ингредиент
      </button>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col-md-3 col-form-label" th:each="movie:${moviesOngoing}">
      <a class="delete" th:href="${'/movies/delete/' + movie.id}">
        <i class="fa-regular fa-circle-xmark fa-xl"></i>
      </a>
      <a th:href="'/admin/movies/edit/' + *{movie.id}" class="text-gray-dark">
        <div class="row">
          <div class="col-md-12 text-center pr-4 pl-4">
            <img th:src="*{movie.mainImage == null} ? ${'/img/common/no-image.jpg'}
                                    : *{'/files/' + movie.mainImage}"
                 class="product-image w-100" height="400" alt="Movie Image">
          </div>
        </div>
        <div class="row pt-2">
          <div class="col-md-12 form-group text-center" th:text="${movie.name}"></div>
        </div>
      </a>
    </div>
  </div>

</th:block>

<!-- Extra Modals -->
<th:block layout:fragment="extra-modals">

  <div class="modal fade" id="add-product">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content bg-warning">
        <div class="modal-header">
          <h4 class="modal-title">Add Structure</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-6">
              <div class="row">
                <div class="form-group">
                  <label for="title">Title</label>
                  <input type="text" class="form-control" id="title" name="title" placeholder="Enter title">
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <label for="weight">Weight</label>
                  <input type="text" class="form-control" id="weight" name="weight" placeholder="Enter price">
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <label for="price">Price</label>
                  <input type="text" class="form-control" id="price" name="price" placeholder="Enter structure">
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="row">
                <div class="form-group">
                  <label for="image">Image</label>
                  <div class="custom-file">
                    <label class="custom-file-label" for="image"></label>
                    <input type="file" class="custom-file-input" id="image"
                           name="image" accept="image/jpeg, image/png">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <label for="category">Category</label>
                  <div class="form-group ml-2">
                    <select class="form-control select2bs4" id="category">
                      <option th:each="category : ${categoryes}" th:value="${category.id}"
                              th:text="${category.name}"></option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Отменить</button>
          <a href="/products/product-add" type="button" class="btn btn-outline-dark">Добавить</a>
        </div>
      </div>
    </div>
  </div>

</th:block>

<th:block layout:fragment="extra-js">

  <script src="/js/select2/select2.full.js"></script>
  <script src="/js/bs-file-input/bs-custom-file-input.min.js"></script>
  <script>
    $(function () {
      bsCustomFileInput.init();
    });
  </script>

</th:block>

</html>
