server:
  servlet:
    context-path: /Vilki_Palki_Admin
  port: 7575

spring:
  application:
    name: Vilki-Palki
  datasource:
    url: jdbc:postgresql://localhost:5432/avada_slj_vp
    username: avada_slj_vp
    password: mgBOTd2tBb
    driver-class-name: org.postgresql.Driver
  mail:
    host: smtp.gmail.com
    username: test.in.odessa@gmail.com
    password: sggcjhmrombnkscg
    port: 587
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
      mail.smtp.starttls.required: true
    protocol: smtp

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database: postgresql
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 50MB

logging:
  file:
    name: /home/avada/web/kino.avada-media-dev1.od.ua/logging/vp-admin/logs.log
  level:
    org:
      hibernate: info
      springframework: info
    root: info
  logback:
    rollingpolicy:
      max-file-size: 10MB