<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin-panel/fragments/index}">

<head>
    <title>Users</title>
</head>

<th:block layout:fragment="content">
    <div class="row"><div class="col"><h2>Staff</h2></div></div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header vilki-mod">
                    <h3 class="card-title text-light">Users Table | Total number:
                        <th:block th:text="${usersCount}"></th:block>
                    </h3>
                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 250px;">
                            <input type="text" oninput="filterNameInput(this)" id="users-table-search"
                                   class="form-control float-right"
                                   placeholder="Search by email, full name, facebook Id, phone number">

                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive">
                    <table class="table table-bordered" id="users-table">
                        <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Email</th>
                            <th>Full Name</th>
                            <th>Birthday</th>
                            <th>Facebook Id</th>
                            <th>Phone number</th>
                            <th>Order amount</th>
                            <th style="width: 190px">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix vilki-mod">
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>

<!-- Extra Modals -->
<th:block layout:fragment="extra-modals">
</th:block>

<th:block layout:fragment="extra-js">

    <script>

        let userRequest = {};
        userRequest.pageIndex = 0;
        let filterTimeout;
        let userId;

        $(document).ready(function () {
            getAllUsers();
        });

        $(document).on('click', '.user', function () {
            userId = $(this).data('id');
            $('#confirm-delete').modal('show');
        });

        //  Get All Users
        function getAllUsers() {
            $.ajax({
                method: "POST",
                url: "/Vilki_Palki_Admin/users/get-all-users",
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify(userRequest),
            }).done(function (usersResponse) {
                console.info(usersResponse)
                const TABLE_BODY = createTable('#users-table', usersResponse?.totalElements, usersResponse?.totalPages, userRequest?.pageIndex);
                $.each(usersResponse?.content, function (index, user) {
                    const $view = '' +
                        '<a th:href="/Vilki_Palki_Admin/users/user-details/' + user?.id + '" class="btn pb-0 pt-0 btn-secondary nav-link">Details</a>';
                    $(TABLE_BODY).append(
                        '<tr>' +
                        '    <td>' + ((index + 1) + (userRequest.pageIndex * usersResponse?.size)) + '</td>' +
                        '    <td>' + (user?.email ? user?.email : '-') + '</td>' +
                        '    <td>' + (user?.name ? user?.name : '-') + '</td>' +
                        '    <td>' + (user?.birthday ? user?.birthday : '—') + '</td>' +
                        '    <td>' + (user?.facebookId ? user?.facebookId : '—') + '</td>' +
                        '    <td>' + (user?.phoneNumber ? user?.phoneNumber : '—') + '</td>' +
                        '    <td>' + (user?.sumOrders ? user?.sumOrders : '—') + '</td>' +
                        '    <td>' + $view + '</td>' +
                        '</tr>'
                    );
                });
            });
        }

        //  Page click action
        $(document).on('click', 'a.page-link', function () {
            const pageBtn = $(this);
                if ($(pageBtn).parent('li.page-item').hasClass('prev')) {
                    userRequest.pageIndex = --userRequest.pageIndex;
                } else if ($(pageBtn).parent('li.page-item').hasClass('next')) {
                    userRequest.pageIndex = ++userRequest.pageIndex;
                } else {
                    userRequest.pageIndex = Number($(pageBtn).text()) - 1;
                }
                getAllUsers();
        });

        function filterNameInput(input) {
            clearInterval(filterTimeout)
            filterTimeout = setTimeout(() => {
                    userRequest.query = $(input).val();
                    userRequest.pageIndex = 0;
                    getAllUsers();
            }, 1000)
        }

    </script>

</th:block>

</html>
