<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin-panel/fragments/head :: head}"></head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

  <!-- Navbar -->
  <th:block th:insert="~{admin-panel/fragments/navbar :: navbar}"></th:block>

  <!-- /.navbar -->
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark vilki-mod elevation-4">
    <!-- Brand Logo -->
    <a href="/admin/statistics" class="brand-link ml-2">
      <img src="/img/img_1.png" alt="AdminLTE Logo" class="brand-image elevation-3 brand-image-xl">
      <span class="brand-text font-weight-light text-light text-lg ml-2"> ВИЛКИ-ПАЛКИ</span>
    </a>

    <!-- Sidebar -->
    <th:block th:insert="~{admin-panel/fragments/sidebar :: sidebar}"></th:block>
    <!-- /.sidebar -->
  </aside>

  <div class="content-wrapper">
    <div class="content">
      <div class="container-fluid pt-4">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header vilki-mod">
                <h3 class="card-title text-light">Bordered Table</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body" th:object="${users}">
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Email</th>
                    <th>Полное имя</th>
                    <th>Дата рождения</th>
                    <th>Facebook Id</th>
                    <th>Телефон</th>
                    <th>Сумма заказов</th>
                    <th style="width: 190px">Действия</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="user:${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.birthday}"></td>
                    <td th:text="${user.facebookId}"></td>
                    <td th:text="${user.phone}"></td>
                    <td th:text="${user.id}"></td>
                    <td>
                      <a th:href="${'/users/user-edit/' + user.id}" class="btn pb-0 pt-0 btn-secondary">
                        Детали
                      </a>
                      <a class="btn pb-0 pt-0 btn-danger" th:attr="data-id=${user.id}" data-toggle="modal" data-target="#confirm-delete">
                        Удалить
                      </a>
                    </td>
                  </tr>
                  <tr th:if="${#lists.isEmpty(users)}">
                    <td class="text-center" colspan="8">No data...</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix vilki-mod">
                <div class="row">
                  <div class="col-5"></div>
                  <div class="col-4">
                    <ul class="pagination pagination-sm m-auto">
                      <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="confirm-delete">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-danger">
              <div class="modal-header">
                <h4 class="modal-title">Delete Entity</h4>
              </div>
              <div class="modal-body">
                <p>Вы уверены, что хотите удалить?</p>
              </div>
              <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Нет</button>
                <a id="delete-button" type="button" class="btn btn-outline-dark">Да</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<th:block th:insert="~{admin-panel/fragments/footer :: logout-modal}"></th:block>
<th:block th:insert="~{admin-panel/fragments/js :: js}"></th:block>
<script>
  $('#confirm-delete').on('show.bs.modal', function(e) {
    let id = $(e.relatedTarget).data('id');
    $('#delete-button').attr('href', '/users/delete-user/' + id);
  });
</script>
</body>
</html>
