<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin-panel/fragments/index}">

<head>
    <title>User Details</title>
</head>

<th:block layout:fragment="content">
    <input type="number" th:object="${user}" th:field="${user.id}" id="user-id" hidden>
    <div class="row"><div class="col"><h2>User Details</h2></div></div>
    <div class="row pt-3">
        <div class="col-12">
            <div class="card">
                <div class="card-header vilki-mod">
                    <h3 class="card-title text-light">Address</h3>
                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 250px;">
                            <input type="text" oninput="filterNameInput(this)" id="address-table-search"
                                   class="form-control float-right"
                                   placeholder="Search">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body table-responsive">

                    <table class="table table-bordered" id="address-table">
                        <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Street</th>
                            <th>House</th>
                            <th>Apartment</th>
                            <th>Front</th>
                            <th>Intercom code</th>
                            <th>Floor</th>
                            <th>Note</th>
                            <th style="width: 100px">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer clearfix vilki-mod">
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-12">
            <div class="card">
                <div class="card-header vilki-mod">
                    <h3 class="card-title text-light">Orders</h3>
                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 250px;">
                            <input type="text" oninput="filterNameInput(this)" id="orders-table-search"
                                   class="form-control float-right"
                                   placeholder="Search">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive">
                    <table class="table table-bordered" id="orders-table">
                        <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Code</th>
                            <th>Products</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Address</th>
                            <th>Total price, UAH</th>
                            <th style="width: 100px">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix vilki-mod">
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>

<!-- Extra Modals -->
<th:block layout:fragment="extra-modals">

    <div class="modal fade" id="confirm-delete">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-danger">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Entity</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete?</p>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
                    <a onclick="deleteEntity()" type="button" class="btn btn-secondary">Yes</a>
                </div>
            </div>
        </div>
    </div>

</th:block>

<th:block layout:fragment="extra-js">

    <script>

        const defaultItemCount = 5;
        let addressRequest = {};
        addressRequest.pageIndex = 0;
        let orderRequest = {};
        orderRequest.pageIndex = 0;
        let filterTimeout;
        let addressId;
        let orderId;

        $(document).ready(function () {
            const id = $("#user-id").val();
            addressRequest.userId = id;
            orderRequest.userId = id;
            getAllOrders();
            getAllAddress();
        });

        $(document).on('click', '.order', function () {
            orderId = $(this).data('id');
            $('#confirm-delete').modal('show');
        });

        $(document).on('click', '.address', function () {
            addressId = $(this).data('id');
            $('#confirm-delete').modal('show');
        });

        //  Get All Users
        function getAllOrders() {
            $.ajax({
                method: "POST",
                url: '/Vilki_Palki_Admin/users/get-all-orders-by-user-id',
                contentType: 'application/json',
                data: JSON.stringify(orderRequest),
            }).done(function (orderResponse) {
                const TABLE_BODY = createTable('#orders-table', orderResponse?.itemsCount, orderResponse?.pagesCount, orderRequest?.pageIndex);
                $.each(orderResponse?.data, function (index, order) {
                    const $delete = '' +
                        '<a class="btn pb-0 pt-0 btn-danger order" ' +
                        'data-id="' + order?.id + '" data-toggle="modal" data-target="#confirm-delete">Delete</a>';
                    $(TABLE_BODY).append(
                        '<tr>' +
                        '    <td>' + ((index + 1) + (orderRequest.pageIndex * defaultItemCount)) + '</td>' +
                        '    <td>' + (order?.orderCode ? order?.orderCode : '-') + '</td>' +
                        '    <td>' + (order?.productsList ? order?.productsList : '-') + '</td>' +
                        '    <td>' + (order?.date ? order?.date : '-') + '</td>' +
                        '    <td>' + (order?.deliveryStatus ? order?.deliveryStatus : '-') + '</td>' +
                        '    <td>' + (order?.address ? order?.address : '-') + '</td>' +
                        '    <td>' + (order?.price ? order?.price : '-') + '</td>' +
                        '    <td>' + $delete + '</td>' +
                        '</tr>'
                    );
                });
            });
        }

        function getAllAddress() {
            $.ajax({
                method: "POST",
                url: "/Vilki_Palki_Admin/users/get-all-address-by-user-id",
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify(addressRequest),
            }).done(function (addressResponse) {
                const TABLE_BODY = createTable('#address-table', addressResponse?.itemsCount, addressResponse?.pagesCount, addressRequest?.pageIndex);
                $.each(addressResponse?.data, function (index, address) {
                    const $delete = '' +
                        '<a class="btn pb-0 pt-0 btn-danger address" ' +
                        'data-id="' + address?.id + '" data-toggle="modal" data-target="#confirm-delete">Delete</a>';
                    $(TABLE_BODY).append(
                        '<tr>' +
                        '    <td>' + ((index + 1) + (addressRequest.pageIndex * defaultItemCount)) + '</td>' +
                        '    <td>' + (address?.street ? address?.street : '-') + '</td>' +
                        '    <td>' + (address?.numberHouse ? address?.numberHouse : '-') + '</td>' +
                        '    <td>' + (address?.apartment ? address?.apartment : '-') + '</td>' +
                        '    <td>' + (address?.frontDoor ? address?.frontDoor : '-') + '</td>' +
                        '    <td>' + (address?.doorCode ? address?.doorCode : '-') + '</td>' +
                        '    <td>' + (address?.floor ? address?.floor : '-') + '</td>' +
                        '    <td>' + (address?.notes ? address?.notes : '-') + '</td>' +
                        '    <td>' + $delete + '</td>' +
                        '</tr>'
                    );
                });
            });
        }

        function deleteEntity() {
            if (orderId !== undefined) {
                $.ajax({
                    method: "DELETE",
                    url: "/Vilki_Palki_Admin/users/delete-order/" + orderId,
                    contentType: 'application/json'
                }).done(function () {
                    $('#confirm-delete').modal('hide');
                    orderId = undefined;
                    getAllOrders();
                }).fail(function (response) {
                    console.error(response);
                    orderId = undefined;
                });
            } else if (addressId !== undefined) {
                $.ajax({
                    method: "DELETE",
                    url: "/Vilki_Palki_Admin/users/delete-address/" + addressId,
                    contentType: 'application/json'
                }).done(function () {
                    $('#confirm-delete').modal('hide');
                    addressId = undefined;
                    getAllAddress();
                }).fail(function (response) {
                    console.error(response);
                    addressId = undefined;
                });
            }
        }

        $(document).on('click', 'a.page-link', function () {
            const pageBtn = $(this);
            const whichTable = $(pageBtn).parents('div.card').find('table').attr('id');
            if (whichTable === 'address-table') {
                if ($(pageBtn).parent('li.page-item').hasClass('prev')) {
                    addressRequest.pageIndex = --addressRequest.pageIndex;
                } else if ($(pageBtn).parent('li.page-item').hasClass('next')) {
                    addressRequest.pageIndex = ++addressRequest.pageIndex;
                } else {
                    addressRequest.pageIndex = Number($(pageBtn).text()) - 1;
                }
                getAllAddress();
            } else {
                if ($(pageBtn).parent('li.page-item').hasClass('prev')) {
                    orderRequest.pageIndex = --orderRequest.pageIndex;
                } else if ($(pageBtn).parent('li.page-item').hasClass('next')) {
                    orderRequest.pageIndex = ++orderRequest.pageIndex;
                } else {
                    orderRequest.pageIndex = Number($(pageBtn).text()) - 1;
                }
                getAllOrders();
            }

        });

        $(document).on('change', '#address-table-search', function () {
            addressRequest.query = $(this).val();
            addressRequest.pageIndex = 0;
            getAllAddress();
        });

        $(document).on('change', '#orders-table-search', function () {
            orderRequest.query = $(this).val();
            orderRequest.pageIndex = 0;
            getAllOrders();
        });

        function filterNameInput(input) {
            clearInterval(filterTimeout)
            filterTimeout = setTimeout(() => {
                $(input).trigger('change');
            }, 1000)
        };

    </script>

</th:block>

</html>
