<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin-panel/fragments/index}">

<head>
    <title>User Details</title>
</head>

<th:block layout:fragment="content">
    <input type="number" th:object="${user}" th:field="${user.id}" id="user-id" hidden>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header vilki-mod">
                    <h3 class="card-title text-light">Address Table</h3>
                </div>
                <div class="card-body">

                    <table class="table table-bordered" id="address-table">
                        <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Улица</th>
                            <th>Дом</th>
                            <th>Квартира</th>
                            <th>Парадная</th>
                            <th>Код</th>
                            <th>Этаж</th>
                            <th>Примечание</th>
                            <th style="width: 190px">Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer clearfix vilki-mod">
                    <div class="row">
                        <div class="col-5"></div>
                        <div class="col-4">
                            <ul class="pagination pagination-sm m-auto">
                                <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header vilki-mod">
                    <h3 class="card-title text-light">Orders Table</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table class="table table-bordered" id="orders-table">
                        <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Номер</th>
                            <th>Список</th>
                            <th>Дата</th>
                            <th>Статус</th>
                            <th>Адрес</th>
                            <th>Сумма</th>
                            <th style="width: 190px">Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix vilki-mod">
                    <div class="row">
                        <div class="col-5"></div>
                        <div class="col-4">
                            <ul class="pagination pagination-sm m-auto">
                                <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>

<!-- Extra Modals -->
<th:block layout:fragment="extra-modals">

    <div class="modal fade" id="confirm-order-delete">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-danger">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Entity</h4>
                </div>
                <div class="modal-body">
                    <p>Вы уверены, что хотите удалить?</p>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Нет</button>
                    <a id="delete-order-button" type="button" class="btn btn-outline-dark">Да</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirm-address-delete">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-danger">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Entity</h4>
                </div>
                <div class="modal-body">
                    <p>Вы уверены, что хотите удалить?</p>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Нет</button>
                    <a id="delete-address-button" type="button" class="btn btn-outline-dark">Да</a>
                </div>
            </div>
        </div>
    </div>

</th:block>

<th:block layout:fragment="extra-js">

    <script>
        $(document).ready(function () {
            let id = $("#user-id").val();
            getAllOrders(id);
            getAllAddress(id);
        });

        $('#confirm-order-delete').on('show.bs.modal', function (e) {
            let id = $(e.relatedTarget).data('id');
            $('#delete-order-button').attr('href', '/orders/delete-order/' + id);
        });

        $('#confirm-address-delete').on('show.bs.modal', function (e) {
            let id = $(e.relatedTarget).data('id');
            $('#delete-address-button').attr('href', '/orders/delete-address/' + id);
        });

        //  Get All Users
        function getAllOrders(id) {
            $.ajax({
                method: "GET",
                url: '/users/get-all-orders-by-user-id',
                data: {id: id},
                contentType: 'application/json'
            }).done(function (orders) {
                console.info(orders);
                const TABLE_BODY = createTable('#orders-table', 1, 2, 0);
                $.each(orders, function (index, order) {
                    const $delete = '' +
                        '<a class="btn pb-0 pt-0 btn-danger" ' +
                        'data-id="' + order?.id + '" data-toggle="modal" data-target="#confirm-order-delete">Удалить</a>';
                    $(TABLE_BODY).append(
                        '<tr>' +
                        '    <td>' + order?.id + '</td>' +
                        '    <td>' + order?.orderCode + '</td>' +
                        '    <td>' + order.productsList + '</td>' +
                        '    <td>' + order.date + '</td>' +
                        '    <td>' + order.deliveryStatus + '</td>' +
                        '    <td>' + order.address + '</td>' +
                        '    <td>' + order.price + '</td>' +
                        '    <td>' + $delete + '</td>' +
                        '</tr>'
                    );
                });
            });
        }

        function getAllAddress(id) {
            $.ajax({
                method: "GET",
                url: "/users/get-all-address-by-user-id",
                data: {id: id},
                contentType: 'application/json'
            }).done(function (addresses) {
                console.info(addresses);
                const TABLE_BODY = createTable('#address-table', 1, 2, 0);
                $.each(addresses, function (index, address) {
                    const $delete = '' +
                        '<a class="btn pb-0 pt-0 btn-danger" ' +
                        'data-id="' + address?.id + '" data-toggle="modal" data-target="#confirm-address-delete">Удалить</a>';
                    $(TABLE_BODY).append(
                        '<tr>' +
                        '    <td>' + address?.id + '</td>' +
                        '    <td>' + address?.street + '</td>' +
                        '    <td>' + address?.numberHouse + '</td>' +
                        '    <td>' + address?.apartment + '</td>' +
                        '    <td>' + address?.frontDoor + '</td>' +
                        '    <td>' + address?.doorCode + '</td>' +
                        '    <td>' + address?.floor + '</td>' +
                        '    <td>' + address?.notes + '</td>' +
                        '    <td>' + $delete + '</td>' +
                        '</tr>'
                    );
                });
            });
        }

        //  Drawing table
        function createTable(tableSelector, itemsCount, pagesCount, pageIndex) {
            const TABLE_DIV = $(tableSelector);
            const TABLE_HEAD = $(TABLE_DIV).find('thead');
            const TABLE_BODY = $(TABLE_DIV).find('tbody');
            const TABLE_COLUMNS_COUNT = $(TABLE_HEAD).find('th').length;
            const TABLE_PAGINATION_ROW = $(TABLE_DIV).next('div.card-body').find('div.row');
            $(TABLE_BODY).empty();
            $(TABLE_PAGINATION_ROW).empty();
            if (itemsCount <= 0) {
                $(TABLE_BODY).append(
                    '<tr>' +
                    '    <td colspan="' + TABLE_COLUMNS_COUNT + '" class="align-middle text-center no-data">' +
                    'No data...' +
                    '    </td>' +
                    '</tr>'
                );
            } else createPagination(pagesCount, pageIndex, TABLE_PAGINATION_ROW, itemsCount);
            return TABLE_BODY;
        }

        function createPagination(pagesCount, pageIndex, TABLE_PAGINATION_ROW, itemsCount) {
            const colDiv = '<div class="col-sm-12 col-md-6"></div>';
            const paginationList =
                '<ul class="pagination pagination-sm mb-0 justify-content-center justify-content-md-end align-items-center">' +
                '</ul>';
            const collapsedPageBtn =
                '   <li class="page-item">' +
                '       <a class="page-link waves-effect disabled" role="button">...</a>' +
                '   </li>';

            pagesCount = Number(pagesCount);
            pageIndex = Number(pageIndex);
            itemsCount = Number(itemsCount);

            $(TABLE_PAGINATION_ROW).append(
                $($(colDiv).addClass('pagination-info'))
                    .append('[[#{pages.table.entriesInfo}]]'
                        .replace('X', ((pageIndex - 1) * 10 + 1))
                        .replace('Y', Math.min(pageIndex * 10, itemsCount))
                        .replace('Z', itemsCount))
            );

            $(TABLE_PAGINATION_ROW).append($(colDiv).append(paginationList));
            const paginationListPath = $(TABLE_PAGINATION_ROW).find('ul.pagination');

            // pagination logic
            if (pagesCount > 1) {
                if (pageIndex !== 1) {
                    $(paginationListPath).append(createPrevNextPageBtn(false, true));
                    $(paginationListPath).append(createPageBtn(1, false));
                } else {
                    $(paginationListPath).append(createPrevNextPageBtn(true, true));
                    $(paginationListPath).append(createPageBtn(1, true));
                }

                if (pagesCount > 7) {
                    if (pageIndex >= 5) {
                        $(paginationListPath).append(collapsedPageBtn);
                    }

                    let start;
                    let finish;
                    if (pageIndex < 5) {
                        start = 2;
                        finish = 5;
                    } else if (pagesCount - pageIndex < 4) {
                        start = pagesCount - 4;
                        finish = pagesCount - 1;
                    } else {
                        start = pageIndex - 1;
                        finish = pageIndex + 1;
                    }
                    for (let i = start; i <= finish; i++) {
                        if (i > 1 && i <= pagesCount - 1) {
                            if (pageIndex === i) {
                                $(paginationListPath).append(createPageBtn(i, true));
                            } else {
                                $(paginationListPath).append(createPageBtn(i, false));
                            }
                        }
                    }

                    if (pagesCount - pageIndex >= 4) {
                        $(paginationListPath).append(collapsedPageBtn);
                    }
                } else {
                    for (let i = 2; i <= pagesCount - 1; i++) {
                        if (pageIndex === i) {
                            $(paginationListPath).append(createPageBtn(i, true));
                        } else {
                            $(paginationListPath).append(createPageBtn(i, false));
                        }
                    }
                }

                if (pageIndex !== pagesCount) {
                    $(paginationListPath).append(createPageBtn(pagesCount, false));
                    $(paginationListPath).append(createPrevNextPageBtn(false, false));
                } else {
                    $(paginationListPath).append(createPageBtn(pagesCount, true));
                    $(paginationListPath).append(createPrevNextPageBtn(true, false));
                }
            } else {
                $(paginationListPath).append(createPrevNextPageBtn(true, true));
                $(paginationListPath).append(createPageBtn(1, true));
                $(paginationListPath).append(createPrevNextPageBtn(true, false));
            }
            // end of pagination logic
        }

        //  Create Next previous triangle Btn
        function createPrevNextPageBtn(isDisabled, isPrev) {
            return '' +
                '   <li class="page-item ' + (isPrev ? 'prev' : 'next') + '">' +
                '       <a class="page-link waves-effect ' + (isDisabled ? 'disabled' : '') + '" role="button">' +
                '           <i class="ti ti-chevron-' + (isPrev ? 'left' : 'right') + ' ti-xs"></i>' +
                '       </a>' +
                '   </li>';
        }

        //  Create Pagination Btn
        function createPageBtn(pageNumber, isActive) {
            return '' +
                '<li class="page-item ' + (isActive ? 'active' : '') + '">' +
                '   <a class="page-link waves-effect" role="button">' + pageNumber + '</a>' +
                '</li>';
        }

    </script>

</th:block>

</html>
