<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Theme style -->
<link rel="stylesheet" th:href="@{/css/fontawesome-free/all.min.css}">
<link rel="stylesheet" th:href="@{/css/select2/select2.min.css}">
<link rel="stylesheet" th:href="@{/css/select2/select2-bootstrap4.min.css}">
<link rel="stylesheet" th:href="@{/css/date-picker/tempusdominus-bootstrap-4.min.css}">
<link rel="stylesheet" th:href="@{/css/sweetalert/sweetalert2.min.css}">
<link rel="stylesheet" th:href="@{/css/adminlte/adminlte.min.css}">
<link rel="stylesheet" th:href="@{/css/my/custom.css}">
