<script th:src="@{/js/jquery/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/adminlte/adminlte.min.js}"></script>
<script th:src="@{/js/select2/select2.full.min.js}"></script>
<script th:src="@{/js/fontawesome-free/all.min.js}"></script>
<script th:src="@{/js/sweetalert2/sweetalert2.min.js}"></script>
<script th:src="@{/js/bs-file-input/bs-custom-file-input.min.js}"></script>
<script>
    //  Activating sidebar tab
    $(function () {
        var url = window.location;
        $('ul.nav-sidebar a').filter(function () {
            if (this.href) return this.href === url || url.href.indexOf(this.href) === 0;
        }).addClass('active');
        // for the treeview
        $('ul.nav-treeview a').filter(function () {
            if (this.href) return this.href === url || url.href.indexOf(this.href) === 0;
        }).parentsUntil(".nav-sidebar > .nav-treeview").addClass('menu-open').prev('a').addClass('active');
    });

    //  Drawing table
    function createTable(tableSelector, itemsCount, pagesCount, pageIndex) {
        const TABLE_DIV = $(tableSelector);
        const TABLE_HEAD = $(TABLE_DIV).find('thead');
        const TABLE_BODY = $(TABLE_DIV).find('tbody');
        const TABLE_COLUMNS_COUNT = $(TABLE_HEAD).find('th').length;
        const TABLE_PAGINATION_ROW = $(TABLE_DIV).parents('div.card').find('div.card-footer').find('div.row');
        $(TABLE_PAGINATION_ROW).append(
            $($(colDiv).addClass('pagination-info').addClass('text-white'))
                .append('Showing X-Y of entries Z'
                    .replace('X', ((pageIndex - 1) * 10 + 1))
                    .replace('Y', Math.min(pageIndex * 10, itemsCount))
                    .replace('Z', itemsCount))
        );
        $(TABLE_BODY).empty();
        $(TABLE_PAGINATION_ROW).empty();
        if (itemsCount <= 0) {
            $(TABLE_BODY).append(
                '<tr>' +
                '    <td colspan="' + TABLE_COLUMNS_COUNT + '" class="align-middle text-center no-data">' +
                'No data...' +
                '    </td>' +
                '</tr>'
            );
        } else if (pagesCount > 1) createPagination(pagesCount, pageIndex, TABLE_PAGINATION_ROW, itemsCount);

        return TABLE_BODY;
    }

    function createPagination(pagesCount, pageIndex, TABLE_PAGINATION_ROW, itemsCount) {
        const colDiv = '<div class="col-sm-12 col-md-6"></div>';
        const paginationList =
            '<ul class="pagination pagination-sm mb-0 justify-content-center justify-content-md-end align-items-center">' +
            '</ul>';
        const collapsedPageBtn =
            '   <li class="page-item">' +
            '       <a class="page-link disabled" role="button">...</a>' +
            '   </li>';
        pagesCount = Number(pagesCount);
        pageIndex = Number(pageIndex) + 1;
        itemsCount = Number(itemsCount);


        $(TABLE_PAGINATION_ROW).append($(colDiv).append(paginationList));
        const paginationListPath = $(TABLE_PAGINATION_ROW).find('ul.pagination');

        // pagination logic
        if (pagesCount > 1) {
            if (pageIndex !== 1) {
                $(paginationListPath).append(createPrevNextPageBtn(false, true));
                $(paginationListPath).append(createPageBtn(1, false));
            } else {
                $(paginationListPath).append(createPrevNextPageBtn(true, true));
                $(paginationListPath).append(createPageBtn(1, true));
            }

            if (pagesCount > 7) {
                if (pageIndex >= 5) {
                    $(paginationListPath).append(collapsedPageBtn);
                }

                let start;
                let finish;
                if (pageIndex < 5) {
                    start = 2;
                    finish = 5;
                } else if (pagesCount - pageIndex < 4) {
                    start = pagesCount - 4;
                    finish = pagesCount - 1;
                } else {
                    start = pageIndex - 1;
                    finish = pageIndex + 1;
                }
                for (let i = start; i <= finish; i++) {
                    if (i > 1 && i <= pagesCount - 1) {
                        if (pageIndex === i) {
                            $(paginationListPath).append(createPageBtn(i, true));
                        } else {
                            $(paginationListPath).append(createPageBtn(i, false));
                        }
                    }
                }

                if (pagesCount - pageIndex >= 4) {
                    $(paginationListPath).append(collapsedPageBtn);
                }
            } else {
                for (let i = 2; i <= pagesCount - 1; i++) {
                    if (pageIndex === i) {
                        $(paginationListPath).append(createPageBtn(i, true));
                    } else {
                        $(paginationListPath).append(createPageBtn(i, false));
                    }
                }
            }

            if (pageIndex !== pagesCount) {
                $(paginationListPath).append(createPageBtn(pagesCount, false));
                $(paginationListPath).append(createPrevNextPageBtn(false, false));
            } else {
                $(paginationListPath).append(createPageBtn(pagesCount, true));
                $(paginationListPath).append(createPrevNextPageBtn(true, false));
            }
        } else {
            $(paginationListPath).append(createPrevNextPageBtn(true, true));
            $(paginationListPath).append(createPageBtn(1, true));
            $(paginationListPath).append(createPrevNextPageBtn(true, false));
        }
        // end of pagination logic
    }

    //  Create Next previous triangle Btn
    function createPrevNextPageBtn(isDisabled, isPrev) {
        return '' +
            '   <li class="page-item ' + (isPrev ? 'prev' : 'next') + (isDisabled ? ' disabled' : '') + '">' +
            '       <a class="page-link" role="button">' +
            (isPrev ? '<span aria-hidden="true">❮</span>' : '<span aria-hidden="true">❯</span>') +
            '       </a>' +
            '   </li>';
    }

    //  Create Pagination Btn
    function createPageBtn(pageNumber, isActive) {
        return '' +
            '<li class="page-item ' + (isActive ? 'active' : '') + '">' +
            '   <a class="page-link" role="button">' + pageNumber + '</a>' +
            '</li>';
    }

    // Blank check for string
    function isBlank(str) {
        return (!str || /^\s*$/.test(str));
    }

    //  Get dash if value is blank
    function getDashIfBlank(value) {
        return isBlank(value) ? '—' : value
    }

    //  Error message template
    function errorMessage(selector, message, parent) {
        $(selector).addClass('is-invalid');
        if (parent) $(selector).parents(parent).append('<div class="invalid-feedback text-bold ml-2">' + message + '</div>');
        else $(selector).after('<div class="invalid-feedback text-bold ml-2">' + message + '</div>');
    }

    //  Remove all error messages
    function clearErrorMessages() {
        $('.is-invalid').removeClass('is-invalid');
        $('.invalid-feedback').remove();
    }

</script>
