<div class="modal fade" id="modal-warning">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-warning">
      <div class="modal-header">
        <h4 class="modal-title">Log out</h4>
      </div>
      <div class="modal-body">
        <p>Вы уверены, что хотите выйти?</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Нет</button>
        <a type="button" class="btn btn-outline-dark" th:href="@{/logout}">Да</a>
      </div>
    </div>
  </div>
</div>