<div class="modal fade" id="modal-warning">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-warning">
            <div class="modal-header">
                <h4 class="modal-title">Log out</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to exit?</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
                <a type="button" class="btn btn-secondary" th:href="@{/logout}">Yes</a>
            </div>
        </div>
    </div>
</div>