<aside class="main-sidebar sidebar-dark vilki-mod elevation-4">
    <a th:href="@{/statistics}" class="brand-link ml-2">
        <img th:src="@{/img/img_1.png}" alt="AdminLTE Logo" class="brand-image elevation-3 brand-image-xl">
        <span class="brand-text font-weight-light text-light text-lg ml-2"> Vilki-Palki</span>
    </a>
    <div class="sidebar sidebar-dark vilki-mod">
        <!-- Sidebar sidebar -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" role="menu" data-widget="treeview"
                data-accordion="false">
                <li class="nav-item">
                    <a th:href="@{/statistics}" class="nav-link">
                        <i class="fa-solid fa-chart-simple fa-xl"></i>
                        <p class="ml-2">
                            STATISTICS
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/banners}" class="nav-link">
                        <i class="fa-solid fa-image fa-xl"></i>
                        <p class="ml-2">
                            BANNERS
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/orders}" class="nav-link">
                        <i class="fa-solid fa-cart-shopping fa-xl"></i>
                        <p class="ml-2">
                            ORDERS
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <div class="row">
                            <div class="col-1 p-0 mt-3">
                                <i class="fa-solid fa-pizza-slice fa-xl"></i>
                            </div>
                            <div class="col-10">
                                <p class="ml-3">
                                    PRODUCT &
                                </p>
                                <p class="ml-3">
                                    STRUCTURES
                                </p>
                            </div>
                            <div class="col-1 mt-3">
                                <i class="right fas fa-angle-left"></i>
                            </div>
                        </div>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a th:href="@{/products}" class="nav-link">
                                <i class="far fa-dot-circle nav-icon ml-4"></i>
                                <p class="ml-2">
                                    PRODUCTS
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/product-details}" class="nav-link">
                                <i class="far fa-dot-circle nav-icon ml-4"></i>
                                <p class="ml-2">
                                    PRODUCT DETAIL
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/structures}" class="nav-link">
                                <i class="far fa-dot-circle nav-icon ml-4"></i>
                                <p class="ml-2">
                                    STRUCTURES
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/structure-details}" class="nav-link">
                                <i class="far fa-dot-circle nav-icon ml-4"></i>
                                <p class="ml-2">
                                    STRUCTURE DETAIL
                                </p>
                            </a>
                        </li>
                    </ul>

                </li>
                <li class="nav-item">
                    <a th:href="@{/promotions}" class="nav-link">
                        <i class="fa-brands fa-product-hunt fa-xl"></i>
                        <p class="ml-2">
                            PROMOTIONS
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/users}" class="nav-link">
                        <i class="fa-regular fa-user fa-xl"></i>
                        <p class="ml-2">
                            USERS
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
