<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/adminlte/adminlte.min.css}">
    <link rel="stylesheet" th:href="@{/css/background/background-login.css}">
</head>
<body class="hold-transition sidebar-mini background">
<div class="row">
    <div class="col-12">
        <div class="row pb-3">
            <img src="/img/img.png" class="mx-auto">
        </div>
        <form method="POST" th:action="@{/login}">
            <div class="row pt-5">
                <div class="col-2 mx-auto">
                    <div class="row" th:if="@{/}">

                    </div>
                    <div class="input-group ">
                        <input type="email"
                               class="form-control"
                               name="username"
                               placeholder="Email"
                               aria-label="Email"
                               aria-describedby="Email">
                    </div>
                    <div class="input-group mb-3">
                        <input type="password"
                               class="form-control"
                               name="password"
                               placeholder="Password"
                               aria-label="Password"
                               aria-describedby="Password">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="custom-control custom-checkbox mx-auto">
                    <input class="custom-control-input"
                           type="checkbox"
                           id="remember-me"
                           name="remember-me"
                           value="option1">
                    <label for="remember-me"
                           class="custom-control-label text-light">Remember me</label>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-2 mx-auto">
                    <button type="submit" class="btn btn-warning col-12">Sign In</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
