.delete {
    position: absolute;
    top: -5px;
    right: 20px;
    z-index: 1;
    color: #464646;
}

.vilki-mod {
    background-color: #432c00;
    text-decoration-color: #fff8f6;
}

a.nav-link:link{
    color: #ffffff !important;
}
a.nav-link:visited{
    color: #ffffff !important;
}
a.nav-link:hover{
    color: #ffc923 !important;
}
a.nav-link:active{
    color: #ffc923 !important;
}
